body {
    font-size: 18px;
}

//navbar section
.navbar {
    background-color: #1F1C33;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.navbar-brand {
    img {
        max-width: 129px;
        max-height: 39px;
    }
}

.navbar-nav {
    padding-right: 25px;
}

.navbar-collapse {
    .navbar-nav {
        a {
            color: white;
            text-decoration: none;
            position: relative;
            &:hover {
                color: orange;
            }
            // &:after{
            //     bottom: 0;
            //     content: "";
            //     display: block;
            //     height: 2px;
            //     left: 0%;
                
            //     background: #fff;
            //     transition: width 0.3s ease 0s, left 0.3s ease 0s;
            //     width: 0%;
            // }
            // &:hover:after{
            //     width: 100%;
            //     left: 0;
            // }
        }
    }
}

.navbar {
    .navbar-nav {
        .nav-item {
            img {
                max-height: 25px;
            }
        }
    }
}

.btn-signin-navbar {
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    &:hover{
        color: white;
        background-color: #202040;           
    }
}

.btn-getstarted-navbar {
    color: black;
    background-color: white;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    &:hover{
        background-color: black;
        color: white;
    }
}

.custom-toggler {
    .navbar-toggler-icon {
        border-color: rgb(63, 61, 61);
    }
}
//navbar section


//header section landing page
.header-home {
    background-image: url('../images/background-header.png');
    background-size: cover;
    margin-top: -70px;
    padding: 168px 0 100px;
}


.header-images {
    img {
        max-width: 100%;
        max-height: 380px;
        padding-bottom: 10px;
    }
}

header {
    .header-title {
        font-family: Volkhov;
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
    }
}

header {
    .header-paragraph {
        color: white;
        font-size: 20px;
        margin-bottom: 44px;
    }
}

header {
    .btn-getstarted-header {
        padding-right: 40px;
        padding-left: 40px;
        text-align: center;
        color: black;
        background-color: white;
        border: none;
        font-size: 17px;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.header-ticket {
    background-image: url('../images/header-ticket.png');
    background-size: cover;
    margin-top: -70px;
    padding: 168px 0 100px;
}

.header-ticket {
    .header-title-ticket {
        color: white;
        font-family: Volkhov;
        margin-top: 40px;
        margin-bottom: 45px;
    }
}

.header-ticket {
    .btn-header-ticket{
        font-weight: 200px;
        margin-bottom: 120px;
        border-color: white;
        width: 200px;
        height: 46px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        &:hover {
            background-color:rgba(67,67,67,0.5);
            border-style: none;
            outline: none !important;
            box-shadow: none;
            color: white;
        }
        &:active:focus{
            background-color: rgba(67,67,67,0.5);
            border-style: none;
            outline: none !important;
            box-shadow: none;
            color: white;
        }
    }
}

//header section landing page

//main-content landing page
.first-main-content {
    .title-main {
        margin-top: 70px;
        font-family: Volkhov;
        font-size: 40px;
    }
}

.first-main-content {
    .logo-travelu-main {
        max-height: 50px;
        margin-top: 40px;
    }
}

.first-main-content {
    .content-service {
        .card {
            height: 450px;
            margin-bottom: 10px;
            border: none;
            transition: box-shadow .3s;
            &:hover {
                box-shadow: 0 0 11px rgba(33,33,33,.2);
            }
        }
    }
}

.first-main-content {
    .content-service {
        .card {
            img {
                padding-top: 35px;
                padding-bottom: 58px;
            }
        }
    }
}

.first-main-content {
    .content-service {
        .card {
            .card-text {
              padding-left: 48px;
              padding-right: 48px;  
            }
        }
    }
}

.first-main-content {
    .our-partners-content {
        .title-partner {
            margin-top: 70px;
            font-family: Volkhov;
            font-size: 40px;
            margin-bottom: 50px;
        }
    }
}

.first-main-content {
    .our-partners-content {
        img {
            margin-bottom: 43px;
        }
    }
}

.first-main-content {
    .reviews-content {
        .images-google-reviews {
            margin-top: 95px;
            max-height: 150px;
        }
    }
}


.first-main-content {
    .reviews-content {
        .card {
            height: 200px;
            border-radius: 0px;
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
    }
}

.first-main-content {
    .reviews-content {
        .reviews-testimonial {
            .images-account-reviews {
                max-height: 50px;
                padding-left: 28px;
            }
        }
    }
}

.first-main-content {
    .reviews-content {
        .reviews-testimonial {
            .name-testimonial {
                padding-left: 18px;
                padding-top: 9px;
                font-family: 'Roboto', sans-serif;
                font-weight: 200px;
                font-size: 25px;
            }
        }
    }
}

.first-main-content {
    .reviews-content {
        .reviews-testimonial {
            .testimonial-reviews {
                padding-left: 16px;
                padding-top: 11px;
                font-family: "Roboto", sans-serif;
                font-weight: 200px;
            }
        }
    }
}

.section-travel-packages {
    margin-top: 100px;
}

.section-travel-packages {
    .card {
        min-height: 378px;
        border: none;
        margin-bottom: 15px;
        background-size: cover;
    }
}

.section-travel-packages {
    .travel-country {
        padding-top: 17px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

.section-travel-packages {
    .travel-button {
        padding-bottom: 20px;
    }
}

.section-travel-packages{
    .travel-button {
        .btn-travel-packages-details {
            border-color: white;
            color: white;
            width: 200px;
            height: 40px;
            border-radius: 0px;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            &:hover {
                background-color:rgba(67,67,67,0.5);
                border-style: none;
                outline: none !important;
                box-shadow: none;
            }
            &:active:focus{
                background-color: rgba(67,67,67,0.5);
                box-shadow: none;
            }
        }
    }
}

.details-travel-content-btn {
    .btn-back {
        margin-top: 31px;
        color: white;
        background-color: #202040;
        border-style: none;
        border-radius: 0px;
    }
}

.details-travel-content {
    margin-top: 37px;
}

.details-travel-content {
    .card-details-travel {
        min-height: 545px;
        border-radius: 0px;
        border-style: none;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        margin-bottom: 15px;
    }
}

.details-travel-content {
    .card-details-travel {
        .card-travel-photo {
            min-height: 378px;
            border-style: none;
            border-radius: 0px;
            background-size: cover;
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .card-travel-photo {
            .travel-country {
                color: white;
                margin-top: 17px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .about-travel {
            .detail-travel-title {
                margin-top: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .about-travel {
            .detail-travel-description {
                margin-top: 11px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 17px;
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 50px;
            }
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .featured-travel-details {
            margin-left: 92px;
            margin-right: 92px;
            margin-bottom: 57px;
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .featured-travel-details {
            img {
                max-width: 34px;
                max-height: 34px;
            }
        }
    }
}

.details-travel-content {
    .card-details-travel {
        .featured-travel-details {
            .featured-title {
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                text-align: left;
            }
            
            .featured-detail-content {
                font-size: 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                text-align: left;
                margin-bottom: 15px;
            }
        }
    }
}


.details-travel-content {
    .card-trip-informations {
        min-height: 359px;
        border-radius: 0px;
        border-style: none;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        margin-bottom: 15px;
    }
}

.details-travel-content {
    .card-trip-informations {
        .trip-informations-title {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 400;
            margin-left: 11px;
            margin-top: 16px;
        }
    }
}

.details-travel-content {
    .card-trip-informations {
        .informations-content-right {
            margin-top: 27px;
        }
    }
}

.details-travel-content {
    .card-trip-informations {
        .informations-content-right {
            .trip-informations-content {
                margin-left: 11px;
                margin-bottom: 17px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }
}

.details-travel-content {
    .card-trip-informations {
        .informations-content-right {
            .trip-informations-content-data {
                margin-left: 11px;
                margin-bottom: 17px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                color: #7D7D7D;

                .input-seats {
                    max-width: 32px;
                    border: none;
                    border-radius: 0px;
                    border-style: none;
                    box-shadow: 0 0 11px rgba(33,33,33,.2);
                    text-align: center;
                }
            }
        }
    }
}

.details-travel-content {
    .card-trip-informations {
        .btn-seats-booking {
            border-radius: 0px;
            border: none;
            min-width: 351px;
            color: white;
            background-color: #202040;
            &:hover {
                background-color:#202040;
                border-style: none;
                outline: none !important;
                box-shadow: none;
            }
            &:active:focus{
                border: none;
                background-color: #202040;
                box-shadow: none;
            }
        }
    }
}

.checkout-ticket {
    .card-checkout-ticket-left {
        min-height: 378px;
        border-radius: 0px;
        border-style: none;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        margin-top: 74px;
    }
}


.checkout-ticket {
    .card-checkout-informations {
        margin-top: 74px;
        border-radius: 0px;
        border-style: none;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
}

.checkout-ticket {
    .card-checkout-ticket-left {
        .card-checkout-photo {
            min-height: 378px;
            border: none;
            border-radius: 0px;
            background-size: cover;

            .travel-country {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-top: 12px;
                color: white;
            }
        }

        .detail-checkout {

            .detail-checkout-title {
                margin-top: 69px;
                margin-left: 50px;
                margin-bottom: 16px;
                font-size: 23px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }

            .checkout-heading {
                margin-left: 50px;
                margin-bottom: 4px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }

            .checkout-data {
                margin-left: 50px;
                margin-bottom: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
        }
    }

    .card-checkout-informations {
        .checkout-informations-title {
            margin-top: 22px;
            margin-left: 12px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-bottom: 22px;
        }

        .checkout-informations-heading {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin-left: 12px;
        }

        .checkout-informations-data {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin-left: 80px;
        }

        .payment-method-title {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-left: 12px;
            margin-top: 46px;
        }

        img {
            max-height: 34px;
            max-width: 34px;
            margin-left: 12px;
            margin-top: 37px;
        }

        .payment-method-bank {
            margin-top: -30px;
            margin-bottom: 10px;
            margin-left: 60px;
        }

        .btn-confirm-payment {
            border-radius: 0px;
            border: none;
            min-width: 351px;
            color: white;
            background-color: #202040;
            &:hover {
                background-color:#202040;
                border-style: none;
                outline: none !important;
                box-shadow: none;
            }
            &:active:focus{
                border: none;
                background-color: #202040;
                box-shadow: none;
            }
        }
    }

    .btn-cancel-booking {
        border-radius: 0px;
        border: none;
        min-width: 351px;
        color: #b1b3b1;
        background-color: none;
        &:hover {
            background-color:none;
            border-style: none;
            outline: none !important;
            box-shadow: none;
        }
        &:active:focus{
            border: none;
            background-color: none;
            box-shadow: none;
        }
    }
}

.jumbotron-login-page {
    background-image: url('../images/background-jumbotron.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
}

.jumbotron-login-page {
    .card-login-page {
        min-height: 560px;
        border-radius: 0px;
        opacity: 0.7;
        border: none;
        margin-top: -30px;

        .travelu-logo {
            img {
                width: 144px;
                height: 36px;
                margin-top: 15px;
                margin-left: 50px;
            }
        }


        .btn-back-home {
            margin-left: 740px;
            margin-top: 25px;
            &:hover {
                background-color: #7D7D7D;
            }

            .back-to-home {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                margin-left: 5px;
                font-size: 15px;
                color: black;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .sign-in-sentence {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 54px;
            margin-top: 27px;
        }

        .welcome-back-sentence {
            font-family: 'Roboto' ,sans-serif;
            font-weight: 300;
            font-size: 15px;
        }

        .form-input-account {
            margin-left: 352px;
            margin-right: 352px;

            input {
                border-radius: 0px;
                border-top: none;
                border-left: none;
                border-right: none;
                color: black;
                border-bottom: 1px solid gray;
            }
        }

        .form-select-gender {
            margin-left: 352px;
            margin-right: 352px;

            select {
                border-radius: 0px;
                border-top: none;
                border-left: none;
                border-right: none;
                color: black;
                border-bottom: 1px solid gray;
            }
        }

        .btn-sign {
            margin-top: 23px;
            background-color: #202040;
            color: white;
            border-radius: 0px;
            width: 98px;
        }

        .have-account-sentence {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 14px;
            margin-top: 20px;
        }
    }

    .copyright-travelu {
        color: white;
        font-size: 14px;
        margin-top: 35px;
    }
}
//main content landing page

//footer content landing page
footer {
    background-color: #202040;
    margin-top: 68px;
    min-height: 320px;
}

.footer-content {
    .images-logo-footer {
        img {
            max-height: 50px;
            margin-top: 40px;           
        }
    }
}

.footer-content {
    .footer-content-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500px;
        color: white;
        margin-top: 55px;
        margin-bottom: 35px;
    }
}

.footer-content {
    .footer-main-content {
        font-family: "Roboto", sans-serif;
        font-weight: 400px;
        color: white;
        &:hover {
            color: orange
        }
    }
}